version: '3.8'

services:
  web:
    build: .
    container_name: relatorios_dinamicos_web
    ports:
      - "8001:8001"
    volumes:
      - .:/app

networks:
  relatorios_network:
    driver: bridge
