body {
    background-color: #f0f2f5;
}

.barra-lateral {
    background: white;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    z-index: 10;
}

.area-canvas {
    background: #e9ecef;
    overflow: auto;
}

/* Folha A4 */
.pagina-a4 {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 642px;
    height: 140mm;
    margin: auto;
    user-select: none;
    touch-action: none;
}

.pagina-a4 header, main, footer {
    position: relative;
}

.pagina-a4 header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.pagina-a4 main {
    height: 70%;
}

.pagina-a4 header {
    border-bottom: 1px solid #d3c1c1cc;
}

.pagina-a4 header::after {
    content: 'CABEÇALHO';
    color: #d3c1c1cc;
    font-size: 2rem;
}

.pagina-a4 footer {
    border-top: 1px solid #d3c1c1cc;
}

.pagina-a4 footer::after {
    content: 'RODAPÉ';
    color: #d3c1c1cc;
    font-size: 2rem;
}

/* Componentes arrastáveis */

.item-arrastavel {
    padding: 10px;
    margin-bottom: 10px;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: grab;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.item-arrastavel:hover {
    background: #e2e6ea;
    transform: translateX(5px);
}

.item-arrastavel i {
    margin-right: 10px;
    font-size: 1.2rem;
}

/* Elementos no canvas */

.elemento-relatorio {
    position: absolute;
    border: 1px dashed transparent;
    cursor: move;
    box-sizing: border-box;
}

.elemento-relatorio.selecionado {
    outline: 2px dashed #007bff;
    outline-offset: 2px;
    z-index: 100;
}

/* Conteúdos internos */

.el-texto {
    padding: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.btn-align.ativo {
    background-color: #6c757d;
    color: white;
    border-color: #6c757d;
}

.modal-xl-customizado {
    max-width: 95%;
}

pre {
    color: #2ecc71;
    padding: 10px;
    border-radius: 6px;
}

table, th, td { 
    border: 1px solid black !important; 
    border-collapse: collapse !important; 
    vertical-align: middle !important;
}

.container-imagens {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    height: 11rem;
    gap: 0.5rem;
    overflow-y: auto;
}

.logo-pdf {
    max-height: 65px;
}