<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos de relatório salvos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5 text-center">Índice</h1>
                <ul>
                    <li><a href="{% url "novo" %}">Novo relatório</a></li>
                    <li><a href="{% url "listar_relatorio" %}">Lista de relatórios</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</body>
</html>